.container {
	width: 30rem;
	min-height: 40rem;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	box-shadow: 14px 12px 25px 2px rgba(0, 0, 0, 0.78);
}
input[type='text'] {
	width: 75%;
	height: 18px;
	border: none;
	padding: 5px;
}
body {
	background-color: rgb(185, 178, 178);
	display: flex;
	justify-content: center;
}
.addItem {
	height: 30px;
}
span {
	font-size: 2rem;
	text-align: center;
	border-bottom: 1px solid black;
	border-radius: 5px;
	list-style: none;
}
.items {
	font-size: 1.5rem;
	list-style: none;
}
.checked {
	background-color: red;
}
.clear {
	width: 80%;
	margin: auto;
}
